<%= form_for(@guest) do |f| %>
  <% if @guest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guest.errors.count, "error") %> prohibited this guest from being saved:</h2>

      <ul>
      <% @guest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Do you smoke?</p>
  <%= label_tag('guest[smokes]', 'No') %>
  <%= radio_button_tag('guest[smokes]', 'No', checked = true) %><br>
  <%= label_tag('guest[smokes]', "No, but I don't mind if my hosts do.") %>
  <%= radio_button_tag('guest[smokes]', 'easygoing') %><br>
  <%= label_tag('guest[smokes]', "Yes") %>
  <%= radio_button_tag('guest[smokes]', 'Yes') %><br>

  <p>Are you allergic to cats?</p>
  <%= label_tag('guest[cats]', "I can't stay in a home with cats.") %>
  <%= radio_button_tag('guest[cats]', 'Yes') %><br>
  <%= label_tag('guest[cats]', 'No, cats are fine.') %>
  <%= radio_button_tag('guest[cats]', 'No', checked = true) %><br>

  <p>Are you allergic to dogs?
  <%= label_tag('guest[dogs]', "I can't stay in a home with dogs.") %>
  <%= radio_button_tag('guest[dogs]', 'Yes') %><br>
  <%= label_tag('guest[dogs]', "No, dogs are fine.") %>
  <%= radio_button_tag('guest[dogs]', 'No', checked = true) %><br>

  <P>Can you bring your own bedding (i.e. sleeping bag)?</p>
  <%= label_tag('guest[bedding]', "Yes, I can bring my own bedding if needed.") %>
  <%= radio_button_tag('guest[bedding]', 'Yes', checked = true) %><br>
  <%= label_tag('guest[bedding]', "No") %>
  <%= radio_button_tag('guest[bedding]', 'No') %><br>

  <P>Can you bring your own towel?</p>
  <%= label_tag('guest[towels]', "Yes, I can bring my own towel if needed.") %>
  <%= radio_button_tag('guest[towels]', 'Yes', checked = true) %><br>
  <%= label_tag('guest[towels]', "No") %>
  <%= radio_button_tag('guest[towels]', 'No') %><br>

  <p>What days will you need housing? - coming soon</p>

  Friday
  Saturday
  Sunday
  Monday

  <p>That's it!</p>
  <%= f.submit %>

  <% end %>
