I'm a guest partial!

ID: <%= guest.id %>
Name: <%= guest.name %>
<p>
  <strong>smokes:</strong>
  <%= guest.smokes %>
</p>

<p>
  <strong>Dogs:</strong>
  <%= guest.dogs %>
</p>

<p>
  <strong>Cats:</strong>
  <%= guest.cats %>
</p>

<p>
  <strong>Bedding:</strong>
  <%= guest.bedding %>
</p>

<p>
  <strong>Towels:</strong>
  <%= guest.towels %>
</p>
