<div class="container" id="bump-down">
  <div class="row">
    <div class="col-lg-12">
      <legend>Guest Info</legend>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5">

      <p id="notice"><%= notice %></p>

<p>
  <strong>smokes:</strong>
  <%= @guest.smokes %>
</p>

<p>
  <strong>Dogs:</strong>
  <%= @guest.dogs %>
</p>

<p>
  <strong>Cats:</strong>
  <%= @guest.cats %>
</p>

<p>
  <strong>Bedding:</strong>
  <%= @guest.bedding %>
</p>

<p>
  <strong>Towels:</strong>
  <%= @guest.towels %>
</p>

<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>

</div>
</div>
</div>
