<%= form_for(@host) do |f| %>
  <% if @host.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@host.errors.count, "error") %> prohibited this host from being saved:</h2>

      <ul>
      <% @host.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <p>Do you smoke?</p>
    <%= label_tag('host[smokes]', 'Yes') %>
    <%= radio_button_tag('host[smokes]', 'nonsmoker') %>
    <%= label_tag('host[smokes]', "No, and I prefer not to host smokers.") %>
    <%= radio_button_tag('host[smokes]', 'easygoing') %>
    <%= label_tag('host[smokes]', "No, but I don't mind if my guests do outside.") %>
    <%= radio_button_tag('host[smokes]', 'smoker') %>

    <p>Do you have cats?</p>
    <%= label_tag('host[cats]', 'Yes') %>
    <%= radio_button_tag('host[cats]', 'Yes') %>
    <%= label_tag('host[cats]', 'No') %>
    <%= radio_button_tag('host[cats]', 'No') %>

    <p>Do you have dogs?
    <%= label_tag('host[dogs]', "Yes") %>
    <%= radio_button_tag('host[dogs]', 'Yes') %>
    <%= label_tag('host[dogs]', "No") %>
    <%= radio_button_tag('host[dogs]', 'No') %>

    <P>Can you provide your own bedding (i.e. sleeping bag)?</p>
    <%= label_tag('host[bedding]', "Yes, I have bedding.") %>
    <%= radio_button_tag('host[bedding]', 'Yes') %>
    <%= label_tag('host[bedding]', "No") %>
    <%= radio_button_tag('host[bedding]', 'No') %>

    <P>Can you provide your own towel?</p>
    <%= label_tag('host[towels]', "Yes, I have towels.") %>
    <%= radio_button_tag('host[towels]', 'Yes') %>
    <%= label_tag('host[towels]', "No") %>
    <%= radio_button_tag('host[towels]', 'No') %>

    <p>That's it!</p>
    <%= f.submit %>

<% end %>
