I'm the welcome page!

<p><%= link_to "I'm a guest", new_guest_path %></p>

<p><%= link_to "I'm a host", new_host_path %></p>

<p><%= link_to "View all the hosts", hosts_path %></p>

<p><%= link_to "View all the guests", guests_path %></p>

<p><%= button_to "I want to create a new solution", solve_path %>
