<div class="inner cover">
  <h1 class="cover-heading" id="welcome">Welcome.</h1>
  <p class="lead">
</div>

  <%= link_to "I'm a guest", new_guest_path, class: "btn btn-lg btn-default", id: "guestChoiceButton" %>
  <%= link_to "I'm a host", new_host_path, class: "btn btn-lg btn-default", id: "hostChoiceButton"%>
  <%= link_to "All the guests", guests_path, class: "btn btn-lg btn-default", id: "hostChoiceButton"%>
  <%= link_to "All the hosts", hosts_path, class: "btn btn-lg btn-default", id: "hostChoiceButton"%>
  <%= button_to "I want to create a new solution", create_arrangement_path, class: "btn btn-lg btn-default" %>
